/* VARIABLES */

:root {
    /* COLORS */
    /* 12 times */
    --white-color: #fff;
    /* 4 times */
    --whisper-color: #f5f4fa;
    /* 2 times */
    --sonic-silver-color: #757575;
    /* 2 times */
    --black-color: #000;
    /* 3 times */
    --light-black-color: #212121;
    /* 10 times */
    --accent-color: #2196f3;
    /* 2 times */
    --accent-btn-color: #188ce8;
    /* 1 times */
    --footer-bg-color: #2f303a;
    /* 1 times */
    --footer-adrees-color: rgba(255,255,255,.6);
    /* 1 times */
    --section-title-color: #757575;
    /* 2 times */
    --icon-color: #afb1b8;

    /* DURACTION + TIMING-FUNCTION */
    --transition: 250ms cubic-bezier(.4,0,.2,1);
    --modal-window: 500ms linear;
}

/* RESET */

h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}

.list {
    margin: 0;
    padding-left: 0;
    
    list-style: none;
}

.header a{
    text-decoration: none;
}

/* GENERAL STYLES */

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--sonic-silver-color);

    background-color: var(--white-color);
}

button {
    cursor: pointer;

    font-family: inherit;
}

address {
    font-style: normal;
}

/* UTILS */

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* REUSED CLASSES */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    color: var(--light-black-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* HEADER */

.header {
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
}

/* LOGO HEADER */

.logo-header {
    margin-right: 92px;
}

.logo-common-part {
    color: var(--accent-color);
}

.logo-header-part {
    color: var(--black-color);
}

.logo-footer-part {
    color: var(--white-color);
}

.logo-common-part,
.logo-header-part,
.logo-footer-part {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
}

/* MENU NAV */

.nav.list {
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link,
.nav-link.current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--light-black-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition: color var(--transition);
}
/* АНИМАЦИЯ НАВИГАЦИИ */
/* .nav-link::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;

    background: var(--accent-color);
    border: 1px solid var(--white-color);
    box-sizing: border-box;
    border-radius: 2px;

    transform: scale(0);
    transition: transform var(--transition);
} */

.nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--accent-color);
}

.nav-link:hover::after {
    transform: scale(1);
}

/* CONTACTS */

.header .contacts {
    margin-left: auto;
}

.contacts.list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts-item {
    display: flex;
}

.contacts-item:not(:last-child) {
    margin-right: 30px;
}

.contacts-link {
    display: flex;
    align-items: center;

    color: var(--sonic-silver-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color var(--transition);
}

.contacts-link:not(:last-child) {
    margin-right: 10px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-link:not(:last-child) {
    margin-right: 30px;
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* HERO */

.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
 
    background-color: #c4c4c4;

    background-image: linear-gradient(rgba(47,48,58,.4), rgba(47,48,58,.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .container {
   text-align: center;
}

.hero-title {
    max-width: 696px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-btn {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0,0,0,.15);
    border-radius: 4px;
    border-color: var(--accent-color);

    transition: background-color var(--transition), border-color var(--black-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-btn-color);
    border-color: var(--black-color);
}

/* FEATURES */

.list.features {
    display: flex;
}

.icon-area.features {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: var(--whisper-color);
    border-radius: 4px;
}

.section-title.features {
    width: 270px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.section .item.features:not(:last-child) {
    margin-right: 30px;
}

.text.features {
    line-height: 1.71;
}

/* WORKS + TEAM + CLIENTS */

.section-title.works,
.section-title.team,
.section-title.clients {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list.works,
.list.team,
.list.clients {
    display: flex;
}

.item.works:not(:last-child),
.item.team:not(:last-child),
.item.clients:not(:last-child) {
    margin-right: 30px
}

/* SOCIAL WEBS */

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    fill:var(--white-color);

    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 10px;

}

.social-link {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;    
    height: 20px;

    fill: var(--icon-color);

    transition: fill var(--transition);
}



.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--white-color);

    background-color: var(--accent-color);
}

/* WORKS */

.section.works {
    padding-top: 0;
}

.item.works {
    display: block; 
    width: 370px;
    height: 294px;
}

.photo-works {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-works {
    position: relative;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    
   font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);

    background: rgba(47,48,58,.8);
}

/* TEAM */

.item.team {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    background-color: var(--whisper-color);
}

.text-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title.crew-person {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}

.text.functional {
    margin-bottom: 16px;

    font-size: 16px;
    text-align: center;
}

/* CLIENTS */

.item.clients {
    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;    
}

.link.clients {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;

    transition: border var(--transition), filter var(--transition);
}

.icon.clients {
    width: 106px;
    height: 60px;

    fill: var(--icon-color);

    transition: fill var(--transition);
}

.link.clients:hover .icon.clients,
.link.clients:focus .icon.clients {
    fill: var(--accent-color);
}

.link.clients:hover,
.link.clients:focus {
    border: 1px solid var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,.25));
    border-radius: 4px;
}

/* FILTER */

.list.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item.filter:not(:last-child) {
    margin-right: 8px;
}

.button.filter {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--light-black-color);

    background-color: var(--whisper-color);
    border: 1px solid var(--whisper-color);
    border-radius: 4px;

    transition: color var(--transition), background-color var(--transition), border var(--transition), box-shadoW var(--transition);
}

.button.filter:hover,
.button.filter:focus {
    color: var(--white-color);

    background-color: var(--accent-btn-color);
    border: 1px solid var(--black-color);
    box-shadow: 0px 3px 1px rgba(0,0,0,.1), 0px 1px 2px rgba(0,0,0,.08), 0px 2px 2px rgba(0,0,0,.12);
    border-radius: 4px;
}

/* PROJECTS */

.list.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.item.portfolio {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% / 3 - 30px);

    border: 1px solid #eee;

    transition: box-shadow var(--transition);
}


.item.portfolio:hover, 
.item.portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.06), 1px 4px 6px rgba(0,0,0,.16);
}

.link.portfolio {
    text-decoration: none;
}

.project-portfolio {
    position: relative;

    overflow: hidden;
}

.project.overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    transition: transform var(--transition);
}

.link.portfolio:hover .project.overlay {
    transform: translateY(0);
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);

    background: rgba(33,150,243,.9);
}



.image-portfolio {
    display: block;
    width: 100%;
    height: 294px;
}

.title-portfolio {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.section-title.portfolio {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text.portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--section-title-color);
}

/* FOOTER */

.footer {
    min-width: 1600px;
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--footer-bg-color);
}

.footer-contacts .logo-common-part {
    display: block;
    margin-bottom: 20px;
}
.footer a {
    margin-bottom: 20px;

    text-decoration: none;
}

.footer-container {
    display: flex;
}

.footer-contacts {
    margin-right: 70px;
}

.item.address:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address {
    line-height: 1.71;
    color: var(--white-color);

    transition: color var(--transition);
}

.footer-address-contacts {
    line-height: 1.71;
    color: var(--footer-adrees-color);

    transition: color var(--transition);
}

.footer-address:hover,
.footer-address:focus,
.footer-address-contacts:hover,
.footer-address-contacts:focus {
    color: var(--accent-color);
}

.social-text {
    display: block;
    margin-top: 12px;
    margin-bottom: 20px;
    
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.social-footer .social-item {
    background: rgba(255,255,255,.1);
}

.social-footer .social-icon {
   fill: var(--white-color);

}

.subscribe {
    width: 570px;
    margin-left: auto;
}

.subscribe-form {
    position: relative;
    display: flex;
}

.subscribe-input {
    width: 358px;
    height: 48px;
    padding: 15px 16px;
    margin-right: 12px;

    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg-color);

    transition: border-color var(--transition);
}

.subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:hover,
.subscribe-input:focus-within {
    border-color: var(--accent-color);
}

.subscribe-footer.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-icon {
    margin-left: 10px;
}

/* MODAL */

.no-scroll {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    margin: auto;


    background-color: rgba(0,0,0,.2);
    
    opacity: 1;
    transition: opacity var(--modal-window), visibility var(--modal-window);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    padding: 40px 40px;

    background-color: var(--white-color);

    transform: translate(-50%,-50%);
    transition: transform var(--modal-window);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(1.5) rotate(90deg);
}


.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;

    border-radius: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,.1);

}

.modal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;    
    height: 18px;

    fill: var(--black-color);

    transition: fill var(--transition);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--accent-color);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--light-black-color);
}

.modal-form {
    position: relative;
    width: 100%;
    min-height: 342px;
}

.modal-form-field {
    position: relative;
    
    height: 58px;
    margin-bottom: 10px;
}

.modal-form-field.comments {
    position: relative;

    width: 100%;
    height: 138px;
    margin-bottom: 20px;
}

.modal-form-field.policy {
    position: relative;

    width: 100%;
    height: 24px;
    margin-bottom: 30px;
}

.modal-form-label {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--section-title-color);
}

.modal-form-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 42px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition);
}

.modal-form-input:hover,
.modal-form-input:focus {
    border-color: var(--accent-color);
}

.modal-form-icon {
    position: absolute;
    top: 29px;
    left: 12px;

    width: 18px;
    height: 18px;

    transition: fill var(--transition);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-comments {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 120px;

    padding: 12px 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;   
}

.modal-form-comments::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.custom-checkbox {
    position: absolute;
    top: 3px;
    left: 12px;
    
    width: 16px;
    height: 16px;
    border: 2px solid var(--light-black-color);
    border-radius: 2px;

    background-color: var(--white-color);
}

.modal-form-input-policy:hover + .custom-checkbox,
.modal-form-input-policy:focus + .custom-checkbox {
    border-color: var(--accent-color);
}

/* CUSTOM CHECKBOX */

.checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 11px;
    height: 8px;;
}

.modal-form-input-policy:checked + .custom-checkbox {
    background-color: var(--accent-color);
}

.modal-form-label-policy {
    padding-left: 36px;
    line-height: 1.71;
    color: var(--sonic-silver-color);
}

.modal-form-link {
    line-height: 1.71;
    color: var(--accent-color);
}

.hero-btn.submit {
    display: block;
    margin: 0 auto;
}