/* LOGO */

.logo {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;

    &__common {
        display: flex;
        color: $accent-color;
    }

    &__header {
        color: $black-color;
    }

    &__footer {
        color: $white-color;
    }
}


